
/* Dishes Section */






.dishes_container {
  margin: 6rem 4rem;
}
.dishes_heading{
 margin: 1rem 2rem;
 text-align: center;
}

.dishes_heading p{
  color: #FF6868;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.dishes_heading h2{
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 1rem;
}

.dishes_items{
  box-shadow: 2px 9px 42px 0px #00000014;
  background: #fff;
  width: 100%;
  max-width: 300px;
  border-radius: 30px;
  text-align: center;
  padding: 3rem;
  margin-top: 4rem;
  padding-top: 5rem;
  flex: 0 0 auto;
  position: relative;
}

.dishes_items .Fattoush{
  width: 150px;
}

.dishes_items h2{
  color: #000;
  margin-top: 0.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 0.6rem;
}

.dishes_items p{
  color: #555555;
  font-size: 1.6rem;
  font-weight: 600;
}
.dishes_items .description img{
  width: 16px;
}
.dishes_items .description a{
  color: #555555;
  font-size: 1.6rem;
  font-weight: 600;
}

.dishes_items .description p::first-letter{
  color: #FF6868;
}

.heart {
  background-color: #39DB4A;
  padding: 1.4rem 1.4rem;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  position: absolute;
  top: 0;
  right: 0;
}

.heart img{
  width: 12px;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.image_num{
  display: flex;
  align-items: center;
}

.image_num img{
  width: 20px;
  margin-right: 0.6rem;
}

.image_num span{
  font-size: 1.2rem;
  color: #555555;
  font-weight: 600;
}

.dishes_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  overflow-x: auto;
  padding-bottom: 2rem;
}

.arrodiv {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
  column-gap: 3rem;
}

.arrow1 {
  background: #EFEFEF;
  border-radius: 50%;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.arrow1 img{
  width: 9px;
  /* transform: rotate(180deg); */
}

.arrow2 {
  background: #39DB4A;
  border-radius: 50%;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}
.arrow2 img {
  width: 9px;
}

@media screen and (min-width: 400px){
  .dishes_heading h2{
    font-size: 3rem;
  }
  .dishes_heading p{
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px){
  .dishes_heading h2{
    font-size: 3.6rem;
  }
  .dishes_heading p{
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 844px) {

  .dishes_parent {
    justify-content: center;
    column-gap: 2rem;
    padding-bottom: 1rem;
  }
  .dishes_items {
    flex: 1 1 auto;
    width: 100%;
    max-width: 350px;
  }

  .dishes_items .Fattoush {
    width: 180px;
  }
  .container{
    position: relative;
  }

  .arrodiv{
    position: absolute;
    top: 50px;
    right: 0;
  }
  

  .description {
    justify-content: space-around;
    column-gap: 7rem;
  }


  .dishes_items p{
    margin-top: 1.2rem;
    font-size: 1.8rem;
  }

  .dishes_items h2{
    margin-top: 1.2rem;
    font-size: 2.2rem;
  }


  .description {
    margin-top: 1rem;
    align-items: center;
  }

  .image_num{
    margin-top: 1.4rem;
  }

  .description p{
    font-size: 1.4rem;
  }

  .description .image_num img{
    width: 18px;
  }
  .description .image_num a{
    font-size: 1.8rem;
  }
  .dishes_heading{
    margin: 1rem 6rem;
    text-align: left;
   }

   .dishes_heading p{
    font-size: 1.8rem;
   }

   .dishes_heading h2{
    font-size: 4rem;
    line-height: 1.4;
    margin-top: 1.5rem;
   }
}


@media screen and (min-width: 1024px) {

  .dishes_container {
    margin: 8rem 4rem;
    margin-top: 10rem;
  }
  .dishes_parent {
    column-gap: 3rem;
  }



  .dishes_items {
    width: 100%;
    max-width: 370px;
    flex: 1 1 auto;
    padding: 3.4rem;
  }
  .description {
    justify-content: space-between;
  }
  .dishes_items h2{
    font-size: 2.2rem;
  }
  .dishes_items p{
    font-size: 1.8rem;
  }
  
  .dishes_items .Fattoush {
    width: 100%;
    max-width: 200px;
  }
  
   .dishes_heading p{
    font-size: 2rem;
    margin-left: 0.2rem;
   }

   .dishes_heading h2{
    font-size: 4.6rem;
    line-height: 1.2;
    margin-top: 1.8rem;
    text-align: left;
   }
}

