
/* footer */

footer{
  margin: 3rem 5rem;
}

.icon_container img{
  background: #EDFFEF;
  width: 42px;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.icon_container img:hover{
  background: #e5e5e5;
}

.icon_container img:first-of-type{
  background: #39DB4A;
  width: auto;
  padding: 0.8rem 1.4rem;
  border-radius: 50%;
}

.icon_container img:first-of-type:hover{
  background-color: #24ed38;
}

.icon_container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 2.6rem;
}


footer p{
  color: #555555;
  font-size: 1.5rem;
  font-weight: 500;
  /* white-space: nowrap; */
}

footer p img{
  width: 12px;
  margin: 0 0.6rem;
  position: relative;
  top: 2px;
}


@media screen and (min-width: 475px) {

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media screen and (min-width: 768px) {

  footer{
    display: flex;
    flex-direction: row;
    column-gap: 8rem;
    align-items: center;
    justify-content: center;
  }

  .icon_container {
    margin-bottom: 0;
    flex-wrap: nowrap;
  }

  .icon_container img{
    width: 50px;
    padding: 1.2rem;
  }


  .icon_container {
    column-gap: 3rem;
  }
  
  .icon_container img:first-of-type{
    background: #39DB4A;
    width: 45px;
    padding: 1rem 1.4rem;
    border-radius: 50%;
  }

}


@media screen and (min-width: 1024px) {

  .icon_container img{
    width: 70px;
    padding: 2rem;
  }

  footer{
    margin-top: 8rem;
  }
  footer p{
    font-size: 2.2rem;
  }
  .icon_container {
    column-gap: 3rem;
  }
  
  .icon_container img:first-of-type{
    background: #39DB4A;
    width: 70px;
    padding: 1.8rem 2.4rem;
    border-radius: 50%;
  }
  
}