/* Header */

header {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 2rem;
  position: relative;
}

.header-div1 {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  cursor: pointer;
}

.header-div1 .f-image {
  background: #39DB4A;
  padding: 1rem 0.3rem 0.4rem 1rem;
  border-radius: 10px;
  margin-top: 0.4rem;
}

.menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-div2 {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0 4rem;
  background-color: white; 
  z-index: 1;
}

.listContent {
  display: block;
}

.header-div3 {
  display: none;
}

/* Lists */

header ul {
  margin: 4rem 0rem;
}

header ul li {
  font-size: 1.6rem;
  list-style: none;
  color: #000;
  margin: 3rem 0rem;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  white-space: nowrap;
  transition: 0.1s 0.2s;
}

header ul li.home {
  color: #39DB4A;
}

header ul li:hover {
  /* color: #5a5858; */
  color: #5b4c4c;
}


@media screen and (min-width: 768px) {

  .menu {
    display: none;
  }

  header {
    flex-wrap: nowrap;
    margin: 3rem;
    padding: 0;
  }

  .header-div2 {
    position: static;
    margin: 0;
    padding: 0;
  }

  .header-div2 {
    display: block;
    width: auto;
  }

  .list {
    display: flex;
    column-gap: 3rem;
  }

  header ul {
    margin: 0;
  }
  
  header ul li {
    margin: 0;
    border: 0;
    padding-bottom: 0rem;
  }

  .header-div3 {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    width: auto;
  }

  .shopping {
    position: relative;
  }

  .header-div3 .shopping img{
    width: 20px;
  }

  .shopping p {
    background-color: #39DB4A;
    position: absolute;
    color: #fff;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 500;
    font-weight: 700;
    top: 0;
    right: -4px;
  }

  .header-div3 img {
    width: 28px;
    cursor: pointer;
    position: relative;
    top: 2px;
  }

  .header-div3 button {
    background-color: #39DB4A;
    font-size: 1.4rem;
    display: flex;
    padding: 1rem 1.6rem;
    border: 0;
    border-radius: 20px;
    color: #fff;
    gap: 1rem;
    cursor: pointer;
  }

  .header-div3 button:hover{
    background-color: #24ed38;
  }

  .header-div3 button img {
    width: 18px;
  }

}


@media screen and (min-width: 1024px) {
  header {
    margin: 4rem auto;
    margin: 3rem 6rem;
  }

  header ul li{
    font-size: 2rem;
    font-weight: 500;
  }

  .list {
    column-gap: 5rem;
    margin-right: 6rem;
  }
 
  .header-div3 {
    column-gap: 3.4rem;
  }

  .header-div3 button {
    padding: 1.2rem 2.4rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 25px;
  }
  .header-div3 img {
    width: 32px;
    cursor: pointer;
  }

  .header-div3 .shopping img{
    width: 24px;
  }

  .shopping p {
    background-color: #39DB4A;
    position: absolute;
    color: #fff;
    padding: 0.1rem 0.5rem;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: 700;
    font-weight: 700;
    top: 0;
    right: -6px;
  }

  .header-div3 button img {
    width: 24px;
  }
}

